.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  color: #000;
  z-index: 12;
  width: 85%;
  border-right: 1px solid #e9e9e9;

  overflow-y: auto;
  transition: 400ms ease-in-out;

  transform: translateX(-100%);
  pointer-events: none;

  // opacity: 0;
  // visibility: hidden;

  &.active {
    // opacity: 1;
    // visibility: visible;
    transform: translateX(0);
    pointer-events: all;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 2rem 2.5rem 2rem;
    border-bottom: 1px solid #e9e9e9;
  }

  &__close {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;

    svg {
      width: 100%;
      height: 100%;

      path {
        transition: 200ms ease;
        stroke: var(--color-dark);
      }
    }
  }

  &__logo {
    width: 16rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__list {
    width: 100%;
    padding: 3rem 2rem;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__link {
    font-size: 1.8rem;
    width: 100%;
    display: block;
    text-align: left;

    span {
      border-bottom: 1px solid transparent;
      transition: 300ms ease;
    }

    &:hover {
      span {
        border-bottom-color: var(--color-dark);
      }
    }
  }
}
